nav a
{
padding:60px;
font-size: 25px;
color: purple;
}

h1{font-size: 30px;}

.box{
border: solid #000000 4px;
text-align: center;
background-color: whitesmoke;
margin: 20px;
padding: 10px;
}

.heading
{
border: solid #000000 4px;
padding:10px;
font-size:20px;
margin-top:20px
}
button{size: 50px;
background-color: teal;}

.info{
width: 1000px; height: 825px;
border: solid #000000 4px;
background-color: whitesmoke;
margin: 10px;
justify-content: space-between;
width: 1100px; height:fit-content;
padding: 10px;
background-color: darksalmon;
}

.wiget{margin: 50px;
display: flex;
justify-content: space-between;
text-align: center;
}

.animals{
    font-size: 40;
    margin: 60px;
height: 30px; width: 200px;    
border: solid grey;
flex-wrap: nowrap;
text-align:center;}

.center{
text-align: center;


}

body
{
text-align: center;
background-color: green;}

.ani{
border: outset #000000;
margin: 5px; width: 700px;
text-align: center;
}

body, html {
  height: 5%;

}

.center-container {
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: top;     /* Vertical center */
  height: 9vh;           /* Full viewport height */
}

.bordered-text {
  border: 2px solid black; /* Define your border */
  padding: 20px;           /* Adds space between text and border */
  width: fit-content;      /* Makes border fit the text, not full screen */
} 
.rza{color: rgb(0, 0, 0);
background-color: darksalmon;}

.log{font-size: 50px;
padding: 15px 30px;
color: yellow;
border: white;
border-radius: 500px;
}

.title{font-size: 100px;
color: yellow;}

input{border: white solid 10px;
border-radius: 50px;
color: black;
}

.ti{
font-size: 25px;
color: yellow;
}

.bbl{font-size: 50px;
padding: 15px 30px;
color: yellow;
border: white;
border-radius: 500px;}

.center{
text-align: center;
font-size: 25px;}
.bodyy{display: flex;
justify-content: space-between;
}

.boxy{ text-align: center;}

.profile{text-align: left;}
